---
title: "404 - page not found"
type: page
layout: 'layout.vto'
---
{{
  await comp.Hero({
    heading: "404 - Page not found",
    subheading: "Something went wrong. Please click on one of the navigation options above, or contact the designer.",
    image_url: "/assets/images/404.png",
    image_alt: "You shouldn't be here.",
    section_height_min: "300px", // The minimum height the section can be
  })
}}
