<div class="hamburger">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>

<div class="hamburger-x hidden">
  <span class="line rotate45"></span>
  <span class="line rotate-45"></span>
</div>