{{ for social of site.social_links }}
  <div class="social-icon">
    <a href="{{social.link}}" target="_blank" alt="{{social.title}}">
      {{ if social.title == "LinkedIn" }}
        <div class="linkedin">
          {{# We are masking these divs to SVGs in styles.css #}}
        </div>
      {{ else if social.title == "Email" }}
        <div class="email">
          {{# We are masking these divs to SVGs in styles.css #}}
        </div>
      {{ /if }}
    </a>
  </div>
{{ /for }}
