{{# Theme toggle button by Óscar Otero #}}
<div id="theme-select-container">
  <button
    id="theme-selector"
    class="theme-selector-button"
    aria-pressed="false"
  >
    <span aria-hidden="true" class="icon">
      <div class="theme-selector-icon icon icon-contrast"></div>
    </span>
  </button>
</div>
