---
title: "Coming Soon"
draft: false
---

{{
  await comp.Hero({
    heading: "Coming Soon",
    subheading: "This new portfolio is a work-in-progress. Come back later to see more work.<br><br>For more information, please reach out through ''Work With Me''",
    image_url: "/assets/images/comingsoon.png",
    image_alt: "Freelance work done for one of my many clients.",
    section_height_min: "300px", // The minimum height the section can be
  })
}}