{{> const uuid = crypto.randomUUID() }}

<div class="hero-{{ uuid }}"> 
  <div class="headings">
    <h1>{{ heading }}</h1>
    <h2>{{ subheading }}</h2>
	<h3>{{ caption }}</h3>
  </div>
  <div class="image">
    <img src="{{ image_url |> url }}" alt="{{ image_alt }}">
  </div>
</div>

<style>
	.hero-{{ uuid }} {
		display: flex;
		gap: 0rem;
		min-height: {{ section_height_min }};
		margin: 2rem 0;

		flex-direction:
		{{ if image_orientation == 'left' || image_orientation == 'Left'}}
			row-reverse
		{{ else }}
			row
		{{ /if }}
		;
		gap: 2rem;
		min-height:  
			{{ if section_height_min }}
				{{ section_height_min }}
			{{ else }}
				48px;
			{{ /if }}
		;

			& .headings {
			display: fill;
			flex-direction: column;
			flex: 1 0 10%;

			& h1 {
				font-size: 48px;
				line-height: 150%;
				margin: 1rem 0 0;
			}

			& h2 {
				font-family: 'Instrument Sans';
				font-weight: 600;
				font-size: 22px;
				margin: 0 0 1rem;
			}

			& h3 {
				font-family: 'Instrument Sans';
				font-weight: 400;
				font-size: 22px;
				margin: 0 0 1rem;
			/*Overrides to h3*/
				color: var(--color-primary);
				background-color: var(--color-background-trans);
				padding:0px;
				max-width: 750px;
			}

		}

		& .image {
			display: flex;
			justify-content: center;
			align-items: center;
			flex: 0 1 50%;

			& img {
				object-fit: cover;
				min-height: 100%;
				width: 100%;
				border-radius: 8px;

			}
		}
	}
	
	/* @media screen and (max-width: 1159px) {
		.hero-{{ uuid }} {
			& .headings {
				& h1 {
					font-size: 36px;
				}
				& h2 {
					font-size: 22px;
				}
				& h3{
					font-size: 22px;
				}

			}
			& .image {
				object-fit: cover;
				max-width: 80%;
				margin: auto;
				border-radius: 4px;

			}
		}
	} */

	@media screen and (max-width: 1159px) {
		.hero-{{ uuid }} {

			flex-direction: 
				{{ if image_orientation == 'left' || image_orientation == 'Left'}}
					column-reverse
				{{ else }}
					column
				{{ /if }}
			;

			& .headings {
				& h1 {
					font-size: 32px;
				}
				& h2 {
					font-size: 18px;
				}
				& h3 {
					font-size: 18px;
				}
			
				
			}
			& .image {
				max-width: fit-content;
				margin: auto;
				border-radius: 4px;
			}
		}
	}


</style>
