{{> const uuid = crypto.randomUUID() }}

<div class="page-separator-{{ uuid }}">
  <div class="separator"></div>
  {{# Heading passed into the component when called #}}
  <h1>{{ heading }}</h1>
  {{# Visual flair #}}
  <div class="separator"></div>
</div>

<style>
  .page-separator-{{ uuid }} {
    display: flex;
    flex-direction: column;

    h1 {
      text-align: center;
      margin: 0.5rem 0px 0.25rem;
    }
  }
</style>
